<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <service licenseKey="1618405b95257f0d05a913160d2ae941FFFFNRAL" />
  <application>
    <name>Dotnet Mac</name>
  </application>
  <datastoreTracer>
    <describes>
      <datastore>sql</datastore>
    </describes>
  </datastoreTracer>
</configuration>
